#TbPading{
  padding: 12px 20px 15px 20px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #757376;
}
.modal-header {
    background-color: #d9dce65c;
    /*height: 40px;*/
 }
/*.modal-footer {
   height: 45px
 }*/
#exampleModalLabel{
  color: white;
}
#BtnCancelarFiltro{
  margin: auto;
}
#BtnAplicarFiltro{
  margin: auto;
}
.daterangepicker {
    z-index: 1051;
}
#folio{
    font-weight: bold;
}
.buttons-excel {
    background: #51A762;
    color: white;
    border-radius: 15px;
    top: -10px;
}
#estiloCheckbox {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background-size: cover;
	cursor: pointer;
}

