#TbPading{
  padding: 12px 20px 15px 20px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #757376;
}
.modal-header {
    background-color: #d9dce65c;
    /*height: 40px;*/
 }
/*.modal-footer {
   height: 45px
 }*/
#exampleModalLabel{
  color: white;
}
#BtnCancelarFiltro{
  margin: auto;
}
#BtnAplicarFiltro{
  margin: auto;
}
.daterangepicker {
    z-index: 1051;
}
#folio{
    font-weight: bold;
}
