{%extends "base.html"%}

{%block body_block%}

<thead>
    <tr>
        <th>Folio</th>
        <th>Cliente</th>
        <th>Fecha Descarga</th>
        <th>Subtotal</th>
        <th>IVA</th>
        <th>Retencion</th>
        <th>Total</th>
        <th>Status</th>
        <th>Moneda</th>
        <th>Proyecto</th>
    </tr>
</thead>
<tbody>
    {% for pendiente in pendientes %}
    <tr>
        <td>{{pendiente.Folio}}</td>
        <td>{{pendiente.NombreCliente}}</td>
        <td>{{pendiente.FechaDescarga}}</td>
        <td>{{pendiente.PrecioSubtotal}}</td>
        <td>{{pendiente.PrecioIVA}}</td>
        <td>{{pendiente.PrecioRetencion}}</td>
        <td>{{pendiente.PrecioTotal}}</td>
        <td>{{pendiente.Status}}</td>
        <td>{{pendiente.Moneda}}</td>
        <td>{{pendiente.Proyecto}}</td>
    </tr>
    {%endfor%}
</tbody>

{% endblock %}