{% load static %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
		<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
			<div class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" id="TbPading">
				<div class="kt-subheader__wrapper">
					<button type="button" id="BtnSubirCobros" class="btn btn-brand btn-elevate btn-pill btn-elevate-air btn-sm float-right" data-toggle="modal" data-target="#modalSubirCobro" data-backdrop="static" data-keyboard="false" disabled>Subir Cobro</button>
				</div></br>
			<table class="table table-striped table-bordered" id="TableEstadosdeCuenta">
				<thead>
					<tr>
						<th></th>
						<th>Folio</th>
						<th>Cliente</th>
						<th>Fecha Factura</th>
						<th>Subtotal</th>
						<th>IVA</th>
						<th>Retencion</th>
						<th>Total</th>
						<th>Balance</th>
						<th>Estatus</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for Factura in Facturas %}
					<tr data-IDFactura="{{Factura.IDFactura}}">
						<td></td>
						<td style="font-weight: bold;">{{Factura.Folio}}</td>
						<td>{{Factura.Cliente}}</td>
						<td>{{Factura.FechaFactura|date:'Y/m/d'}}</td>
						<td>{{Factura.Subtotal}}</td>
						<td>{{Factura.IVA}}</td>
						<td>{{Factura.Retencion}}</td>
						<td>{{Factura.Total}}</td>
						<td>{{Factura.Saldo}}</td>
						<td id="status">{{Factura.Status}}</td>
						<td></td>
						<td></td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
			</div>
		</div>
	</div>
