#TbPading{
  padding: 12px 20px 15px 20px;
}
footer{
  background: #757376;
}
.modal-header {
    background-color: #040131;
 }
#exampleModalLabel{
  color: white;
}
#BtnCancelarFiltro{
  margin: auto;
}
#BtnAplicarFiltro{
  margin: auto;
}
.daterangepicker {
    z-index: 1051;
}
